@media screen and (max-width:576px) {
    .nav-links{
        display: none;
    }
    .nav-logo{
        gap: 5px;
    }
    .nav-title{
        font-size: 20px;
        font-weight: 800;
    }
    .nav-logo img{
        width: 40px;
    }
    .menubar{
        display: block;
    }
    .banner-buttons,
    .tours{
        flex-direction: column;
    }
    .banner-content{
        padding-top: 1rem;
        width: 90%;
    }
    .banner-buttons{
        width: 90%;
    }
    .banner-buttons .where-btn{
        padding: 8px 106px 8px 4px;
    }
    .banner-buttons .search-btn{
        padding: 8px 106px 8px 4px;
    }
    .banner-buttons button,select{
        width: 100%;
    }
    .tours-contents,
    .tours-image{
        width: 90%;
    }
    .destination{
        margin-top: 1rem;
    }
    .destination-contents{
        width: 90%;
    }
    .row1,
    .row2,
    .row3{
        grid-template-columns: 1fr;
    }
    .choose-us{
        margin-top: 1rem;
    }
    .choose-card-1{
        flex-direction: column;
    }
    .card-3{
        width: 100%;
    }
    .choose-us-contents p{
        width: 90%;
    }
    .deals-contents{
        width: 95%;
    }
    .deals-card-info-1,
    .deals-card-info-2{
        width: 80%;
        margin: 0 auto;
        right: 30px;
        top: 30px;
        bottom: 10px;
    }
    .deals-card-icon{
        font-size: 10px;
    }
    .deal-btn{
        width: 90%;
    }
    .deals-card-info-1 h2{
        font-size: 20px;
    }
    .place{
        flex-direction: column;
        gap: 1rem;

    }
    .place-contents,
    .place-image{
        width: 90%;
    }
    .newsletter{
        flex-direction: column;
        gap: 1rem;
    }
    .newsletter-form,
    .newsletter-image{
        width: 100%;
    }
    .newsletter-card{
        bottom: 32px;
    }
    .newsletter-card h1{
        font-size: 16px;
    }
    .newsletter-card p{
        font-size: 11px;
    }
    .footer-container{
        width: 100%;
        padding: 2rem 1rem;
    }

}